
p{
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px #000;
    color: rgba(225,225,80,1);
    font-size: 85px;
  z-index: -1;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Leckerli One';
  font-weight: 400;
}


